@import "includes/_settings.scss";

@font-face {
  font-family: montserrat-hairline;
  src: url(../app/fonts/montserrat-hairline.otf);
}

@font-face {
  font-family: montserrat-light;
  src: url(../app/fonts/montserrat-light.otf);
  //src: url('../app/fonts/Montserrat-Light.ttf');
}

html, body {
  font-family: 'Montserrat Light', arial, serif;
  font-size: $base-font-size;
}

main {
  margin: auto;
  min-width: 320px;
  max-width: 1600px;
}

.navbar {
  .navbar-brand {
    display: inline-block;
    min-width: 33px;
    width: 33px;
    height: 30px;
  }
}

h1 {
  margin-top: 188px;
  max-width: 450px;
  color: #000;
  font-family: 'Montserrat Hairline',arial,serif;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 4px;
}
